<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>com.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignup</servlet-name>
        <servlet-class>com.UserSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postReview</servlet-name>
        <servlet-class>com.postReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateTicket</servlet-name>
        <servlet-class>com.GenerateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gotoBookingpage</servlet-name>
        <servlet-class>com.gotoBookingpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>com.ManagerLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignup</servlet-name>
        <url-pattern>/UserSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postReview</servlet-name>
        <url-pattern>/postReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateTicket</servlet-name>
        <url-pattern>/GenerateTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gotoBookingpage</servlet-name>
        <url-pattern>/gotoBookingpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/ManagerLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
